
section.section.hero
  .hero-body
    .container
      figure.image.center
        img(src="https://bulma.io/images/bulma-logo.png", alt="", srcset="" style="max-width: 160px;")
  

section.section.has-background-light
  .container
    .columns
      .column
        .notification.is-info
          h2.title.is-size-4 Bulma?
          p.is-size-6
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsum, praesentium modi quas obcaecati inventore et harum, tempora soluta distinctio quidem suscipit aliquid vero, placeat magnam? Totam alias fuga obcaecati.
      .column
        .notification.is-primary
          h2.title.is-size-4 Is
          p.is-size-6
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsum, praesentium modi quas obcaecati inventore et harum, tempora soluta distinctio quidem suscipit aliquid vero, placeat magnam? Totam alias fuga obcaecati.
      .column
        .notification.is-warning
          h2.title.is-size-4 Sensual...
          p.is-size-6
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsum, praesentium modi quas obcaecati inventore et harum, tempora soluta distinctio quidem suscipit aliquid vero, placeat magnam? Totam alias fuga obcaecati.