
section.hero.is-fullheight.image-bg
  .hero-head
    .columns.is-mobile.is-marginless.heading.has-text-weight-bold
      .column.left
        figure.navbar-item.image
          img.tesla-logo(src="assets/img/tesla.svg", alt="", srcset="")
      .column.center.desktop
        p.navbar-item.has-text-black Model S
        p.navbar-item.has-text-black Model X
        p.navbar-item.has-text-black Model 3
        p.navbar-item.has-text-white Roadstesr
        p.navbar-item.has-text-black Energy
      .column.right
        p.navbar-item.has-text-black.desktop Shop
        p.navbar-item.has-text-black.desktop Sign In
        a.navbar-item.has-text-black.ml-0.center(role="button", class="navbar-burger", aria-label="menu", aria-expanded="false")
          span(aria-hidden="true")
          span(aria-hidden="true")
          span(aria-hidden="true")

  .hero-body
    .is-overlay.has-text-centered.single-spaced
      h1.subtitle.is-4.has-text-weight-light.has-text-black Tesla
      h2.title.is-1.has-text-black Roadster

  main.hero-foot.center.p-2
    .grid-tesla
      #a.center-column
        p.has-text-centered.has-text-white
          |  Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet doloremque perferendis <br> 
          |  asperiores, excepturi vero laboriosam
      #b.center-column
        p.title.has-text-white
          i.fas.fa-tachometer-alt.has-text-grey-light.mr-1(style="width: 0.75em; height: 0.75em")
          | 1.9 
          span.is-size-5 s
        p.subtitle.has-text-white.is-7 0-60 mph
      #c.center-column(style="border-left: 1px solid gray;")
        p.title.has-text-white
          span.is-size-5 +
          span.is-size-3 250
          span.is-size-5 mph
        p.subtitle.has-text-white.is-7 Top Speed
      #d.center-column(style="border-left: 1px solid gray;")
        p.title.has-text-white
          span.is-size-3 620
          span.is-size-5 mi
        p.subtitle.has-text-white.is-7 Mile Range
      #e.center-column
        a.p-1.mt-1.mb-1.is-paddingless-horizontal.button.is-danger.is-inverted.is-rounded.is-outlined.has-text-weight-bold(style="width: 100%; border: 0.16em solid white;")
          |Reserve Now


