
section.section.is-paddingless-horizontal
  .container.grid
    nav.breadcrumb(aria-label="breadcrumbs")
      ul
        li
          a(href="#") Home
        li.is-active
          a(href="#", aria-current="page") How to build a beatiful blog

section.section.is-paddingless-horizontal.pt-0
  .container.grid
    article.media.center
      figure.media-left
        figure.image.is-64x64
          img.is-round(src="sonny.jpg", alt="", srcset="")
      .media-content
        .content
          p
            strong Jeison Perez    
            a @jeisonj <br>
            span.has-text-grey Self-taught, inspired to learn <br>
              time(datetime="2018-05-25") May 22 
              | - 20 min read     

    .section.is-paddingless-horizontal
      h1.title.is-2 How to build a beatiful blog
      h2.subtitle.is-4.has-text-grey-light Learn from first-principles

    figure.columns.grid-xl.is-variable.is-0.is-mobile.is-marginless
      .column
        .image.card
          a
            img(src="assets/img/preview-1.png", alt="")
      .column
        .image.card
          a
            img(src="assets/img/preview-2.jpg", alt="")
      .column
        .image.card
          a
            img(src="assets/img/preview-3.png", alt="")
    figcaption.level
      small.level-item.has-text-grey The blog we'll build. Click to continue on Scrimba

    .content.is-medium
      p Lorem ipsum dolor sit amet consectetur <strong>adipisicing</strong> elit. Ab consectetur cupiditate eligendi voluptatibus officiis, possimus cum maiores eos, nostrum magni sequi assumenda, sapiente dolorum nemo. Perspiciatis magnam repudiandae esse natus! Hic, assumenda culpa! Reiciendis autem nostrum excepturi est itaque impedit!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab consectetur cupiditate eligendi voluptatibus officiis, possimus cum maiores eos, nostrum magni sequi assumenda, sapiente dolorum nemo. Perspiciatis magnam repudiandae esse natus! Hic, assumenda culpa! Reiciendis autem nostrum <strong>excepturi</strong> est itaque impedit!