// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Colors
$color-1: hsl(0, 0%, 100%) !default;
$color-2: hsl(0, 0%, 97%) !default;
$color-3: hsl(0, 0%, 94%) !default;
$color-4: hsl(0, 0%, 13%) !default;
$color-5: #1EA2AA !default;
$color-6: #EF5766 !default;
$color-7: #207E94 !default;
$color-8: #48ABCD !default;
$color-9: #22668B !default;
$color-10: #255183 !default;
$black-ter: hsl(0, 0%, 14%) !default;
$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
// Typography
$family-sans-serif: BlinkMacSystemFont,
-apple-system,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
"Helvetica",
"Arial",
sans-serif !default;
$family-monospace: monospace !default;
$breakpoints: ( small: 320px, medium: 767px, large: 1200px, xlarge: 1440px);
// Ancho maximo de un contenedor.
$max-width: 1200px;