extends ../template/template

block body

  #home-container
    #inner
      img#logo(src="images/logo.svg", alt="Logo crypts")
      h1 Crypto + Chat = Crypts
      p.subtitle Slack meets real-time CryptoCurrency
      a.cta(href="#") Join up or sign in

    #illustration
      img.crypto-icons(src="images/bitcoin.svg", alt="", id="bitcoin")
      img.crypto-icons(src="images/dash.svg", alt="", id="dash")
      img.crypto-icons(src="images/monero.svg", alt="", id="monero")
      img(src="http://www.cableman.ru/sites/default/files/pr-voa-500x320.png", alt="", id="monitor")


  div(style="margin-top:500px")